<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Homebrew Henchman</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'formtastic', 'formtastic_changes' %>
  
  <!-- TODO: jQuery Include -->
</head>

<body>
  <div id="header">
    <%= render :partial => "shared/header" %>
  </div>
  
  <%= yield %>
</body>

</html>
